body {
    padding: 0;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
}
#intro-screen, #game-container, #game-screen, #end-game {
    min-height: 100vh;
}
#intro-screen p{
    font-size:larger;
}
#intro-screen {
    padding: 0;
    margin: 0;
    background-image: url(/Dom/images/IMG_1974.PNG);
    background-size: cover;
}
h1 {
    margin-top: 0;
    padding-top: 50px;
    font-size: 50px;
}
#intro-screen img{
    width: 600px;
    height: 500px;
}
#game-container {
    display: none;
    justify-content: center;
    width: 100vw;
    background-image: url(/Dom/images/IMG_1971.png);
    background-size: cover;
}
#stats {
    margin-right: 10px;
    display: none;
    font-size: xx-large;
    font-weight: bold;
    align-content:first baseline;
    color: white;
}
#score {
    color:forestgreen;
}
#time {
    color: red;
}
#game-screen {
    display: none;
    align-content: center;
    position: relative;
    background-image: url(/Dom/images/IMG_1957.PNG);
    background-size:contain;
    background-repeat: no-repeat;
}
#end-game {
    display: none;
    flex-direction: column;
    background-image: url(/Dom/images/EEZ9.gif);
    background-size:cover;
    font-size:x-large;
}
#end-game h1{
    color: red;
    font-size: 50px
}
#end-game img {
    height: 500px;
}
#restart-button {
    width: 300px;
    height: 80px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: xx-large;
}
#start-button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url(/Dom/images/IMG_1961.PNG);
    background-size:cover;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: none;
}
